* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.6;
}

.container {
  width: 85%;
  margin: auto;
}

.section {
  padding: 80px 0;
}

.center {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* HEADER */

.header {
  padding: 40px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  font-size: 14px;
}

.logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

a:hover {
  color: #2f4f75;
}

/* DROPDOWN */

.nav-left {
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 25px;
  background: #fff;
  padding: 10px 15px;
}

.dropdown a {
  display: block;
  margin: 6px 0;
}

.nav-left:hover .dropdown {
  display: block;
}

/* TEXT LINKS */

.link-btn {
  display: inline-block;
  margin-top: 20px;
  font-weight: 400;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain; /* ļoti svarīgi */
}
/* GRID 2 COL */

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.reverse {
  grid-template-columns: 1fr 1fr;
}

.reverse > div:first-child {
  order: 2;
}

/* PORTFOLIO GRID */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio-grid .full {
  grid-column: span 3;
}

/* FOOTER */

.footer {
  padding: 60px 0;
}

.footer-inner {
  display: flex;
  justify-content: flex-start;
}

.footer-text {
  font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .two-col {
    grid-template-columns: 1fr;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-grid .full {
    grid-column: span 1;
  }

}